html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: 'Inter', sans-serif;

}
html {
  background-image: url('/4anotherpinkbg.jpg');
  background-size: cover;
  
}
body {
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  html {
    background-attachment: fixed;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.brandingLogo {
  display:none;
}

.mc_embed_signup {
  display:none;
  margin-top:10px;
}

.decoy {
  position: absolute; left: -5000px;
}


form {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

form input {
  margin: 20px 5px 20px 0px;
  height: 30px; 
  font-family: 'Inter', sans-serif;
}

form input + input {
  margin:20px 0px;
}


input[type="email"] {
  border:none!important;
  background:transparent!important;
  box-shadow: 0px 0px 0px !important;
  outline: none !important;
}
input::placeholder {
  opacity: 1;
  color:#000;
}
input[type="submit"]:active,
input[type="submit"] { 
  border-radius: 20px;
  border: 1px solid #000;
  background: transparent!important;
  box-shadow: 0 0 0!important;
  outline: none!important;
  padding: 0px 20px;


}

input[type="submit"]:hover{ 

  border: 1px solid #000;
  background: #000!important;
  color:#fff;
  cursor:pointer


}