html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  background-image: url('/4anotherpinkbg.jpg');
  background-size: cover;
  
}
body {
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  html {
    background-attachment: fixed;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.brandingLogo{
  display:none;
}

.mc_embed_signup{
  display:none;
}

.decoy{
  position: absolute; left: -5000px;
}


form{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

form input{
  margin: 20px 5px 20px 0px;
  height: 30px;
}

form input + input{
  margin:20px 0px;
}